<a href="https://colab.research.google.com/github/abbymorrissey/BTE320-Projects/blob/main/Bus_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

color('black','green')
begin_fill()

for i in range(4):
  forward(100)
  left(90)


end_fill()

range(start,end,step)

ex.
range(5,40,10)
5,10,25,35

ex.
range(5,20,5)
5,10,15

In [ ]:
for i in range (5,20,5):
  print(i)

5
10
15

for i in range 0,1,2,3:
statements(s)

A parking garage charges $5 plus $2.50 for each hour parked. Write a program that generates a table with hours parked and the corresponding fee from 1 to 8 hours.

In [ ]:
k=5
for i in range (1,9,1):
  k=k+2.5
  print(i,k)

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
hello = 'Hello'
space = ' '
there = 'there'
x = 2

hello + space + there

'Hello there'

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

Enter your choice (rock, paper, or scissors): rock
You chose: rock
Computer chose: scissors
You win!

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2000
2000 is a leap year!

In [ ]:
while True:
  operator = input('enter operator: ')

  if operator == 'break':
    break

  num1 = float(input('enter first number: '))
  num2 = float(input('enter second number: '))

  if operator == "+":
    print(f'{num1} + {num2} = {num1 + num2}')
  elif operator == "-":
    print(f'{num1} - {num2} = {num1 - num2}')
  elif operator == "*":
    print(f'{num1} * {num2} = {num1 * num2}')
  elif operator == "/":
    print(f'{num1} / {num2} = {num1 / num2}')
  elif operator == "//":
    print(f'{num1} // {num2} = {num1 // num2}')
  elif operator == "**":
    print(f'{num1} ** {num2} = {num1 ** num2}')
  elif operator == "%":
    print(f'{num1} modulo {num2} = {num1 % num2}')
  else:
    print(f'invalid operator: \'{operator}\'')
    continue

enter operator: +
enter first number: 2
enter second number: 3
2.0 + 3.0 = 5.0
enter operator: break

In [ ]:
s = 'abc'
for char in s:
  print(char)

a
b
c

In [ ]:
s = 'abc'
for i in range(len(s)):
  print(s[i])

a
b
c

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for index in range(len(s1)):
  if s1[index] in s2:
    print(s1[index])

a
b
d
g

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'


for char in s1:
  if char in s2:
    print(char)

a
b
d
g

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
  if char in s2:
   print(char)

for i in range(len(s1)):
  if s1[i] in s2:
    print(s1[i])

a
b
d
g
a
b
d
g

In [ ]:
s = ' '

for i in range(5):
  s = s + 'a'
  print(len(s)-1, s)

1  a
2  aa
3  aaa
4  aaaa
5  aaaaa

In [ ]:
L_outer = [[0,1,2,3],[4,5,7,6]]
l = L_outer[1]
l[0] = 7
L_outer[1] = l
print(L_outer)
print(L_outer[1][0])

[[0, 1, 2, 3], [7, 5, 7, 6]]
7

In [ ]:
for element in L:
  print(element)
  #Can be used for any sequential element

In [ ]:
grades = {
    'alice':91,
    'bob': 88,
    'tracy': 93,
    'erik': 90
}

In [ ]:
grades ['alice']= 95
grades

{'alice': 95, 'bob': 88, 'tracy': 93, 'erik': 90}

In [ ]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

grades['Bob']

grades['Michael'] = 95

grades['Alice'] = 95 #Will change the value for Alice

del grades['Alice'] #Will remove Alice key from dictionary

del(grades['Bob']) #Another way to write

grades.keys() #Returns a list of all the keys

grades.values() #Returns a list of values associated with keys

grades.items() #Returns both keys and values

for key in grades.keys():
  print(key)

Tracy
Erik
Michael

In [ ]:
def fill(l):
  for i in range(10):
    l.append(i)
    if 1%2 == 0:
      l.pop()
  print(l)

In [ ]:
alist = []

for i in range (10):
  alist.append(i)
  if i%2 == 0:
    alist.pop()

print(alist)

[1, 3, 5, 7, 9]

In [ ]:
def fill(l):
  for i in range(10):
    l.append(i)
    if i%2 == 0:
      l.pop()
  print(l)

alist = []
fill(alist)

[1, 3, 5, 7, 9]

In [ ]:
def greeting(n):
  print(f'hello {n}!')

name = input('Enter a Name: ')
greeting(name)

Enter a Name: Abby
hello Abby!

In [ ]:
def add_num(a,b):
  bob = a + b
  return bob

x = 5
y = 6
c = add_num(x,y)
print(c)

11

In [ ]:
def add_num(a,b):
  bob = a + b
  bob_sq = bob ** 2
  return bob, bob_sq

x = 5
y = 6
c, c_sq = add_num(x,y)
print(c_sq)

121

In [ ]:
def fill():
  l = []

  for i in range(10):
    l.append(i)
    if i%2 == 0:
      l.pop()
  print(l)

fill()

[1, 3, 5, 7, 9]

In [ ]:
def add_num(a,b):
  return a+b

c = add_num(5,6)
print(c)

11

In [ ]:
def example():
  print('this is an example')

name = example()
print(name)

this is an example
None

In [ ]:
def f(x): #name x used as formal parameter
  y = 1
  x = x + y
  print('x =', x)
  return x

x = 3
y = 2
z = f(x) #value of x used as actual parameter
print('z =', z)
print('x =', x)
print('y =', y)

x = 4
z = 4
x = 3
y = 2

In [ ]:
def f():
  print(x)

def g():
  print(x)

x = 1
x = 3
f()
x = 3
g()

3
3

In [ ]:
def recursive_countdown(n):
  if n == 0:
    print(0)
  else:
    print(n)
    recursive_countdown(n-1)

recursive_countdown(5)

5
4
3
2
1
0

In [ ]:
def summation(n):
  s = 0
  while n >= 0:
    s = s + n
    n = n-1

  return s

summation(3)

6

In [ ]:
def recursive_summation(n):
  if n ==0:
    return 0
  else:
    return n + recursive_summation(n-1)

recursive_summation(3)

6

In [ ]:
def factR(n):
  if n == 1:
    return 1
  else:
    return n * factR(n-1)

factR(5)

120

In [ ]:
def fibR(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fibR(n-1) + fibR(n-2)

for i in range(8):
  print(fibR(i), end=", ")

1, 1, 2, 3, 5, 8, 13, 21,

In [ ]:
try:
  a = float (input('Enter the Numerator: '))
  b = float (input('Enter the Denominator: '))
  print(a/b)
  print('Division complete')
except ZeroDivisionError:
  print('Division by zero not allowed!')
except ValueError:
  print('Invalid input')
except:
  print('Unknown error...')


print('Program ends')

Enter the Numerator: abc
Invalid input
Program ends

In [ ]:
l = [1,3,5,7,9]

try:
  idx = int(input('Enter index: '))
  print(l[idx])
except IndexError:
  print('Index value out of bounds!')
except TypeError:
  print('Indexes must be in int')

Enter index: 8
Index value out of bounds!

In [ ]:
def avg(alist):
  try:
    return sum(alist) / len(alist)
  except ZeroDivisionError:
    print('The list is empty!')
    return
  except TypeError:
    print('The list is not purley numerical')
    return float('nan')

l = [1,2,3]
avg(l)

2.0

In [ ]:
class Vehicle:
  def __init__(self,n_wheels, n_seats, engine, pedals, dims):
    # Setting up (initializing) attributes
    self.n_wheels = n_wheels
    self.n_seats = n_seats
    self.engine = engine
    self.pedals = pedals
    self.dims = dims
    self.model = None

  def acc(self):
    print("The vehicle is accelerating")

  def dec(self):
    print("The vehicle is decelerating")

In [ ]:
v = Vehicle(4, 4, 'ICE', 3, [1,2,3])
v.acc()

The vehicle is accelerating

In [ ]:
class A:
  def __init__(self, item):
    self.item = item
  def whoAmI(self):
    print('I am an instance of A')

class B:
  def __init__(self, item):
    self.item = item
  def whoAmI(self):
    print('I am an instance of B')

a = A(2)
b = B(3)

In [ ]:
B.whoAmI(b)

I am an instance of B

In [ ]:
class Animal:
  def __init__(self):
    print('Animal created')
  def whoAmI(self):
    print('I am an Animal')

class Bird(Animal):
  def __init__(self):
    super().__init__()
    print('Bird created')
  def fly(self):
    print('Birds can fly')

In [ ]:
a = Animal()
b = Bird()

Animal created
Animal created
Bird created

In [ ]:
a.whoAmI()

I am an Animal

In [ ]:
b.fly()
#a.fly() would give an error

Birds can fly

In [1]:
class Mortgage:
  def __init__(self, amount, maturity, interest):
    self.amount = amount
    self.maturity = maturity
    self.__interest = interest

  def __str__(self):
    return f'Mortgage info:\n Initial loan amount: {self.amount}$\n Maturity term: {self.maturity} years\n Interest Rate: {self.interest}%'

  def get_interest(self):
    return self.__interest

  def set_interest(self, newInterest):
    if newInterest >= 0:
      self.__interest = newInterest

  def payment(self):
    B = self.amount
    r = self.__interest / 100
    n = self.maturity * 12
    return B * (r*(1+r)**n) / ((1+r)**n-1)

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

In [ ]:
deposit = 2000

if deposit > 10000:
  ir = 3.5
if deposit > 1000 or deposit <= 10000:
  ir = 3.25
if deposit <= 1000:
  ir = 3.0

total = (1 + ir/100)*deposit
print(total)

2065.0

In [ ]:
List = []
while True:
  userinput = int(input('Enter an integer to append to the list: '))
  if userinput == 0:
    break
  List.append(userinput)
  print(f'Here is your current list: {List}')

print(f'Here is your list: {List}')

Enter an integer to append to the list: 0
Here is your list: []

In [ ]:
print(f'Ad$ Profit')

init_attendees = 20
fixed_cost = 200

for advertising in range(0, 201, 25):
  ad = float(advertising)
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees * 10) - advertising - fixed_cost)
  print(f'{ad} ${profit}')

Ad$ Profit
0.0 $0.0
25.0 $75.0
50.0 $90.0
75.0 $105.0
100.0 $100.0
125.0 $95.0
150.0 $90.0
175.0 $85.0
200.0 $80.0

In [4]:
user_input = input("Enter today's date in the format mm/dd/yyyy: ")

month = user_input[0:2]
day = user_input[3:5]
year = user_input[6:10]

print('Month: ', month)
print('Day: ', day)
print('Year: ', year)

Enter today's date in the format mm/dd/yyyy: 03/30/2024
Month:  03
Day:  30
Year:  2024

In [5]:
class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y
  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    return (x_diff + y_diff) ** 0.5

class Point3D(Point):
  def __init__(self, x, y, z):
    super().__init__(x, y)

p1 = Point(3, 4)
p2 = Point(6, 8)
print(p1.distance(p2))
p3 = Point3D(3, 4, 5)

5.0