<a href="https://colab.research.google.com/github/abbymorrissey/BTE320-Projects/blob/main/Bus_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

color('black','green')
begin_fill()

for i in range(4):
  forward(100)
  left(90)


end_fill()

range(start,end,step)

ex.
range(5,40,10)
5,10,25,35

ex.
range(5,20,5)
5,10,15

In [ ]:
for i in range (5,20,5):
  print(i)

5
10
15

for i in range 0,1,2,3:
statements(s)

A parking garage charges $5 plus $2.50 for each hour parked. Write a program that generates a table with hours parked and the corresponding fee from 1 to 8 hours.

In [ ]:
k=5
for i in range (1,9,1):
  k=k+2.5
  print(i,k)

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
hello = 'Hello'
space = ' '
there = 'there'
x = 2

hello + space + there

'Hello there'

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

Enter your choice (rock, paper, or scissors): rock
You chose: rock
Computer chose: paper
Computer wins!

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2000
2000 is a leap year!

In [ ]:
while True:
  operator = input('enter operator: ')

  if operator == 'break':
    break

  num1 = float(input('enter first number: '))
  num2 = float(input('enter second number: '))

  if operator == "+":
    print(f'{num1} + {num2} = {num1 + num2}')
  elif operator == "-":
    print(f'{num1} - {num2} = {num1 - num2}')
  elif operator == "*":
    print(f'{num1} * {num2} = {num1 * num2}')
  elif operator == "/":
    print(f'{num1} / {num2} = {num1 / num2}')
  elif operator == "//":
    print(f'{num1} // {num2} = {num1 // num2}')
  elif operator == "**":
    print(f'{num1} ** {num2} = {num1 ** num2}')
  elif operator == "%":
    print(f'{num1} modulo {num2} = {num1 % num2}')
  else:
    print(f'invalid operator: \'{operator}\'')
    continue

enter operator: break

In [ ]:
s = 'abc'
for char in s:
  print(char)

a
b
c

In [ ]:
s = 'abc'
for i in range(len(s)):
  print(s[i])

a
b
c

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for index in range(len(s1)):
  if s1[index] in s2:
    print(s1[index])

a
b
d
g

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'


for char in s1:
  if char in s2:
    print(char)

a
b
d
g

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
  if char in s2:
   print(char)

for i in range(len(s1)):
  if s1[i] in s2:
    print(s1[i])

a
b
d
g
a
b
d
g

In [ ]:
s = ' '

for i in range(5):
  s = s + 'a'
  print(len(s)-1, s)

1  a
2  aa
3  aaa
4  aaaa
5  aaaaa

In [ ]:
L_outer = [[0,1,2,3],[4,5,7,6]]
l = L_outer[1]
l[0] = 7
L_outer[1] = l
print(L_outer)
print(L_outer[1][0])

[[0, 1, 2, 3], [7, 5, 7, 6]]
7

In [ ]:
for element in L:
  print(element)
  #Can be used for any sequential element

In [ ]:
grades = {
    'alice':91,
    'bob': 88,
    'tracy': 93,
    'erik': 90
}

In [ ]:
grades ['alice']= 95
grades

{'alice': 95, 'bob': 88, 'tracy': 93, 'erik': 90}

In [ ]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

grades['Bob']

grades['Michael'] = 95

grades['Alice'] = 95 #Will change the value for Alice

del grades['Alice'] #Will remove Alice key from dictionary

del(grades['Bob']) #Another way to write

grades.keys() #Returns a list of all the keys

grades.values() #Returns a list of values associated with keys

grades.items() #Returns both keys and values

for key in grades.keys():
  print(key)

Tracy
Erik
Michael